$primary-one: #30302E;
$primary-two: #605E5C;
$primary-three: #010101;
$primary-four: #A1451F;
$primary-five: #F0F0F0;
$primary-six: #D9D9D9;

$secondary-one: #91AE6F;
$secondary-two: #E8DFDC;
$secondary-three: #32302F;