// Fonts
@font-face {
    font-family: futura;
    src: url("/src/assets/fonts/futura/futura\ light\ bt.ttf") format("opentype");
    font-weight: 400;
  }

@font-face {
    font-family: futura;
    src: url("/src/assets/fonts/futura/futura\ medium\ bt.ttf") format("opentype");
    font-weight: 600;
  }